@model Crowd_Knowledge_Contribution.Models.Article

@{
    ViewBag.Title = "Edit";
}

<head>
    <link rel="stylesheet" href="~/Content/articleeditstyle.css">
</head>
<div class="eform">
    <div class="eformcontent">
@using (Html.BeginForm(actionName: "Edit", controllerName: "Articles"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.ArticleId)

    <div class="etxt">@Html.Label("ArticleTitle", "Titlu articol")</div>
    @Html.Editor("ArticleTitle")
    @Html.ValidationMessageFor(m => m.ArticleTitle, "", new { @class = "text-danger" })
    <br /><br />

    @Html.HiddenFor(m => m.LastModified)
    <label class="etxt">Selectati categoria</label>
    <div>@Html.DropDownListFor(m => m.CategoryId,
        new SelectList(Model.Categ, "Value", "Text"),
        "Selectati categoria", new { @class = "" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    </div>
    <br /> <br/>
    <button class="emodif" type="submit"> Modifica articolul </button>
}
    </div>
</div>