
<h1>@ViewBag.Message</h1>

<head>
    <link rel="stylesheet" href="~/Content/articleindexstyle.css">
</head>
<h1>ceva</h1>
<div class="container">
    <br />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" method="GET">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="submitbtn" type="text" name="search" value="@ViewBag.SearchString"
                               placeholder="What do you wish to seek?">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="searchbtn" type="submit">Delve deeper</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>

<p class="sortt">@Html.ActionLink("Article Title", "Sorting", null, new { sortOrder = "articleTitle", @class = "sortbtn" })</p>
<p class="sortt">@Html.ActionLink("Last Modified", "Sorting", null, new { sortOrder = "lastModified", @class = "sortbtn" })</p>
<p class="sortt">@Html.ActionLink("User Name", "Sorting", null, new { sortOrder = "userName", @class = "sortbtn" })</p>
<p class="sortt">Sort by:</p>

@foreach (Crowd_Knowledge_Contribution.Models.Article article in ViewBag.Articles)
{
    if (article.ArticleId % 3 == 1)
    {
        <div class="aicontainerforest">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
    else if (article.ArticleId % 3 == 2)
    {
        <div class="aicontainergraveyard">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
    else
    {
        <div class="aicontainerhaunted">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
}

@if (User.IsInRole("Admin") || User.IsInRole("Editor"))
{
    <a href="/Articles/New">Adauga un articol</a>
    <br />
}

