@model Crowd_Knowledge_Contribution.Models.Article

@{
    /**/

    ViewBag.Title = "Show";
}

<head>
    <link rel="stylesheet" href="~/Content/articleshow.css">
</head>

@Html.Partial("ArticleInfo", Model)
<br />

<div>

    <div class="edits">
        @if ((Model.User.UserName == System.Web.HttpContext.Current.User.Identity.Name && User.IsInRole("Editor")) || User.IsInRole("Admin"))
        {
            if (!Model.BaiatRau || User.IsInRole("Admin"))
            {
                <a class="slink" href="/Articles/Edit/@Model.ArticleId">Modifica articol</a>
            }
            if (User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "Restrict", controllerName: "Articles", method: FormMethod.Post, routeValues: new { id = @Model.ArticleId }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    if (!Model.BaiatRau)
                    {
                        <button class="restrict" type="submit">Restrictionare acces editare</button>
                    }
                    else
                    {
                        <button class="givebacc" type="submit">Redare acces editare</button>
                    }
                }
            }
            if (!Model.BaiatRau || User.IsInRole("Admin"))
            {
                using (Html.BeginForm(actionName: "Delete", controllerName: "Articles", method: FormMethod.Post, routeValues: new { id = @Model.ArticleId }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    <button class="restrict" type="submit">Sterge articol</button>
                }
            }
        }

        <div class="clearfix"></div>
    </div>

</div>



<div class="chapterlist">
    <a class="chp">Capitole:</a>
    @foreach (var chapter in Model.Chapters)
    {
        <div class="container">
            <div class="row">
                <a class="chpname" href="/Chapters/Show/@chapter.ChapterId" style="text-decoration: none; color: white; text-shadow: 2px 2px darkred;" >@chapter.ChapterTitle</a>
            </div>
        </div>
    }
</div>

<br />

@if ((Model.User.UserName == System.Web.HttpContext.Current.User.Identity.Name && User.IsInRole("Editor")) || User.IsInRole("Admin"))
{
    <div class="linkss">
        <a href="/Articles/New" class="slink">Adauga alt articol</a>
        <br />
        <a href="/Chapters/New/@Model.ArticleId" class="slink">Adauga alt capitol</a>
        <br />
        <a href="/Modifications/IndexArticle/@Model.ArticleId" class="slink">Afisati modificarile</a>
        <br />
    </div>
}