@model Crowd_Knowledge_Contribution_AS.Models.ApplicationUser

@{
    /**/

    ViewBag.Title = "Editare rol utilizator";
}
    <head>
        <link rel="stylesheet" href="~/Content/usereditstyle.css">
    </head>

<ol class="breadcrumb">
    <li><h3>@ViewBag.Title</h3></li>
</ol>

<div class="eform">
    <div class="eformcontent">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Users", routeValues: new { id = @Model.Id }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            <br />

            <i class="glyphicon glyphicon-user"></i>
            <div class="etxt">
                @Html.Label("UserName", "Nume utilizator", new { @class = "" })
            </div>

            <br />

            @Html.EditorFor(m => m.UserName)

            <br />
            <br />

            <i class="glyphicon glyphicon-envelope"></i>
            <div class="etxt">
            @Html.Label("Email", "Email utilizator", new { @class = "" })
            </div>
            <br />

            @Html.EditorFor(m => m.Email)

            <br />
            <br />

            <i class="glyphicon glyphicon-phone"></i>
            <div class="etxt">
            @Html.Label("PhoneNumber", "Numar telefon")
            </div>

            <br />

            @Html.EditorFor(m => m.PhoneNumber)

            <br />
            <br />

            <i class="glyphicon glyphicon-th-list"></i>
            <label class="etxt">Selectati rolul</label>
            @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.userRole), null, new { @class = "form-control" })

            <br />

            <button class="emodif" type="submit">Modifica datele utilizatorului</button>


          }
     </div>
</div>

