
@{
    ViewBag.Title = "IndexChapter";
}

<h2>Index</h2>

@foreach (var modification in ViewBag.ModificationsTitle)
{
    <h3>Chapter Title: @modification.OldInfo -> @modification.NewInfo</h3>
    <form method="post" action="/Modifications/Delete/@modification.ModificationId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit" class="btn btn-sm btn-danger">Restituie modificare</button>
    </form>

    <br />
}

@foreach (var modification in ViewBag.ModificationsContent)
{
    <h3>Chapter Content: @modification.OldInfo -> @modification.NewInfo</h3>
    <form method="post" action="/Modifications/Delete/@modification.ModificationId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit" class="btn btn-sm btn-danger">Restituie modificare</button>
    </form>

    <br />
}