
@{
    ViewBag.Title = "Show";
}
<head>
    <link rel="stylesheet" href="~/Content/homeshowstyle.css">
    <link rel="stylesheet" href="~/Content/articleindexstyle.css">
</head>
<h1>Show</h1>

<p class="cat">@ViewBag.Category.CategoryName</p>

<p class="sortt">@Html.ActionLink("Article Title", "Sorting", null, new { sortOrder = "articleTitle", @class = "sortbtn" })</p>
<p class="sortt">@Html.ActionLink("Last Modified", "Sorting", null, new { sortOrder = "lastModified", @class = "sortbtn" })</p>
<p class="sortt">@Html.ActionLink("User Name", "Sorting", null, new { sortOrder = "userName", @class = "sortbtn" })</p>
<p class="sortt">Sort by:</p>

@foreach (Crowd_Knowledge_Contribution.Models.Article article in ViewBag.Articles)
{
    if (article.ArticleId % 3 == 1)
    {
        <div class="aicontainerforest">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
    else if (article.ArticleId % 3 == 2)
    {
        <div class="aicontainergraveyard">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
    else
    {
        <div class="aicontainerhaunted">
            @Html.Partial("ArticleInfo", article)
        </div>
    }
}


