@model Crowd_Knowledge_Contribution.Models.Chapter

@{
    ViewBag.Titlu = "New";
}

<h2>New</h2>
@using (Html.BeginForm(actionName: "New", controllerName: "Chapters"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ArticleId)

    <!--label>Titlu articol</label-->
    @Html.Label("ChapterTitle", "Titlu capitol")
    <!--click pe titlu articol -> focus pe textbox pt ca avem acelasi id (Title)-->
    <!--input type="text" name="Title" /-->
    @Html.TextBox("ChapterTitle", null, new { @class = "form-control" })
    <!--nume din baza de date, valori implicite, proprietati de css-->
    <br />
    @Html.ValidationMessageFor(m => m.ChapterTitle, null, new { @class = "text-danger" })
    <br /><br />

    @Html.Label("ChapterContent", "Continut capitol")
    <!--click pe titlu articol -> focus pe textbox pt ca avem acelasi id (Title)-->
    <!--input type="text" name="Title" /-->
    @Html.TextBox("ChapterContent", null, new { @class = "form-control" })
    <!--nume din baza de date, valori implicite, proprietati de css-->
    <br />
    @Html.ValidationMessageFor(m => m.ChapterContent, null, new { @class = "text-danger" })
    <br /><br />


    <button class="btn btn-success" type="submit">Adauga capitol</button>
}