@model Crowd_Knowledge_Contribution.Models.Chapter

@{ ViewBag.Title = "Afisare capitol"; }

<h1>@Model.ChapterTitle</h1>
<p><p>@Model.Article.ArticleTitle</p></p>
<small>@Model.Article.Category.CategoryName</small>
<br />
<strong> Continut </strong>
<br />
<p> @Html.Raw(Model.ChapterContent)</p>
<br />
@if ((Model.User.UserName == System.Web.HttpContext.Current.User.Identity.Name && User.IsInRole("Editor")) || User.IsInRole("Admin"))
{
    <a href="/Chapters/New/@Model.ArticleId">Adauga alt capitol</a>
    <br />
    <a href="/Chapters/Edit/@Model.ChapterId">
        Modifica capitol
    </a>
    <form method="post" action="/Chapters/Delete/@Model.ChapterId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button type="submit">Sterge capitol</button>
    </form>

    <hr />
    <a href="/Modifications/IndexChapter/@Model.ChapterId">Afisati modificarile</a>
    <br />
}
<hr />
<a href="/Articles/Show/@Model.ArticleId">Inapoi la lista capitolelor</a>
<br />

